<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="rapla_data_path" value="C:/rapla-binary-1.4.2/webapp/WEB-INF/data.xml" />
    <add key="rapla_reservation_type_name" value="rapla:reservation" />
    <add key="rapla_resource_type_name" value="rapla:resource" />
    <add key="rapla_person_type_name" value="rapla:person" />

  </appSettings>
</configuration>