<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="rapla_data_path" value="http://win2k3.21sheeps.com/rapla/data.xml"/>
    
    <add key="rapla_reservation_type_name" value="rapla:reservation"/>
    <add key="rapla_course_type_name" value="dynatt:type_course"/>
    <add key="rapla_course_title" value="dynatt:var_title"/>    

    <add key="rapla_resource_type_name" value="rapla:resource"/>

    <add key="rapla_course_room_type_name" value="dynatt:type_course_room"/>
    <add key="rapla_room_number" value="dynatt:var_number"/>
    
    <add key="rapla_person_type_name" value="rapla:person"/>
    <add key="rapla_lecturer_type_name" value="dynatt:type_lecturer"/>
    <add key="rapla_lecturer_forename" value="dynatt:var_forename"/>
    <add key="rapla_lecturer_surname" value="dynatt:var_surname"/>
    <add key="rapla_students_class_type_name" value="dynatt:type_class"/>
    <add key="rapla_students_class_name" value="dynatt:var_name"/>

    <add key="log_file" value="C:/log.txt"/>
    <add key="fqdn" value="win2k3.21sheeps.com"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
