<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="rapla_data_path" value="http://win2k3.21sheeps.com/rapla/data.xml"/>

    <add key="rapla_reservation_type_name" value="rapla:reservation"/>
    <add key="rapla_course_type_name" value="dynatt:type_course"/>
    <add key="rapla_course_title" value="dynatt:var_title"/>

    <add key="rapla_resource_type_name" value="rapla:resource"/>

    <add key="rapla_course_room_type_name" value="dynatt:type_course_room"/>
    <add key="rapla_room_number" value="dynatt:var_number"/>

    <add key="rapla_person_type_name" value="rapla:person"/>
    <add key="rapla_lecturer_type_name" value="dynatt:type_lecturer"/>
    <add key="rapla_lecturer_forename" value="dynatt:var_forename"/>
    <add key="rapla_lecturer_surname" value="dynatt:var_surname"/>
    <add key="rapla_students_class_type_name" value="dynatt:type_class"/>
    <add key="rapla_students_class_name" value="dynatt:var_name"/>

    <add key="log_file" value="D:\log.txt"/>
    <add key="fqdn" value="win2k3.21sheeps.com"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
      Der Abschnitt "<authentication>" ermöglicht die Konfiguration
      des Sicherheitsauthentifizierungsmodus, mit dem eingehende
      Benutzer von ASP.NET identifiziert werden. 
    -->
    <authentication mode="Windows"/>
    <!--
       Der Abschnitt "<customErrors>" ermöglicht die Konfiguration
       der Vorgehensweise bei unbehandelten Fehlern
       während der Anforderungsausführung. Insbesondere
       können Entwickler HTML-Fehlerseiten konfigurieren,
       die anstelle einer Fehlerstapelüberwachung angezeigt werden.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        Der Abschnitt "system.webServer" ist zum Ausführen von ASP.NET-AJAX unter
        Internetinformationsdienste 7.0 erforderlich. Für frühere Versionen von IIS ist er nicht erforderlich.
    -->
</configuration>